@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.5px;
  font-family: 'Ubuntu',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#0F2027), color-stop(#203A43), to(#2C5364));
  background: linear-gradient(to right, #0F2027, #203A43, #2C5364);
}

.searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
  z-index: 100;
}

.searchBox input {
  height: 2.8rem;
  width: 60vw;
  padding-left: 10px;
  border-radius: 30px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.searchBox input:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.searchBox button {
  height: 3rem;
  width: 3rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  outline: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  margin-left: 0.5rem;
}

.searchBox button:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.searchBox button img {
  height: 1rem;
  width: 1rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards .card {
  background: white;
  padding: 1rem;
  min-height: 40vh;
  min-width: 30vw;
  margin: 1rem;
}

.cards .card h1 {
  color: #45B649;
  margin-bottom: 0.5rem;
}

.cards .card h1 .category {
  color: black;
  font-size: smaller;
}

.cards .card .innerCard {
  background: -webkit-gradient(linear, left top, right top, from(#DCE35B), to(#45B649));
  background: linear-gradient(to right, #DCE35B, #45B649);
  padding: 0.5rem;
}

.cards .card .innerCard h3 {
  margin: 0.5rem;
  color: white;
}

.cards .card .innerCard h3 .category {
  color: black;
}

.opening {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.opening img {
  margin-top: 1rem;
  width: 100vw;
}

.opening h1 {
  position: absolute;
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  font-size: small;
}

@media (max-width: 500px) {
  .cards {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .cards::before {
    content: "Swipe for more";
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
    text-align: center;
    color: white;
  }
  .cards .card {
    min-height: 50vh;
    min-width: 90vw;
    margin: 1rem;
  }
}

@media (min-width: 900px) {
  .opening img {
    width: 70vw;
  }
  .opening h1 {
    font-size: large;
  }
}
/*# sourceMappingURL=style.css.map */

.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

img {
  border: 5px solid #555;
}



html{ scroll-behavior: smooth; }
		
*{ margin: 0; padding:0; box-sizing: border-box;font-family: 'Muli', sans-serif; }

.row{ margin: 0!important; }

.nav_style{ background-color: #a29bfe!important;  }

.nav_style a{ color: white; }

.main_header{  height: 450px; 
	/*background-color: green; */
   /*box-shadow: 0 8px 6px -6px black;*/

}


.rightside h1{ font-size: 3rem; }

.eksath_anime img{ animation: heartbeat 5s linear infinite}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}


.corona_anime img{ animation: coranaround 3s linear infinite}

@keyframes coranaround{ 
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
 }



/****************** project work ****************/
.corono_update{
	margin: 0 0 30px 0;
	/*background-color: #fab1a0;*/
}

.corono_update h3{ color: #ff7675; }

.corono_update h1{
	font-size: 2rem;
	text-align: center;
}


/*********************** project works end ************/

/******************* about css **************/

.sub_section{ 
	background-color: #fbfafd;
	/*padding: 50px 0;*/
 }

/************* footer *******************/

.footer_style{
	 background-color: #a29bfe!important;  
}

.footer_style p {
	margin-bottom: 0!important;
}

/***************** top scroll **************/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 40px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #00A8FF; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
  background:  #606060 ; /* Add a dark-grey background on hover */
}



/***************** responsive css *****************/

@media(max-width: 780px)
{ .main_header{ height: 700px; text-align: center; }

	.main_header h1{     
	text-align: center;
    padding: 0;
    width: 100%;
    font-size: 30px; }
}
